@media(max-width: 1140px){   
    body {
        max-width: 100vw;
        padding: 1rem;
    }
    .content-wrapper {
        width: 100%;
        flex-direction: column;
    }
    .container-minor {
        width: 100%;
    }
    .suggestions-wrapper{
        width: 100%;
        position: static;
        
    }
    .follow-suggestions {
        flex-direction: row;
        width: 100%;
        overflow: auto;
        gap: 5rem;
    }
    .follow-suggestions li {
        width: 18rem;        
        flex-shrink: 0;
    }
}