.title-1 {
    font-weight: 700;
    font-size: var(--size-1);
}

.title-2 {
    font-weight: 600;
    font-size: var(--size-2);
}

.text-1 {
    font-weight: 400;
    font-size: var(--size-3);
}

.text-2 {
    font-weight: 400;
    font-size: var(--size-4);
}

.text-button {
    font-weight: 600;
    font-size: var(--size-4);
}